/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body {
    background: url('../Images/gpPatternA.jpg');
    background-repeat: repeat;
    background-size: auto;
}

/* Button styling */
a {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50; /* Green color, you can change this */
    color: #F4F670;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 500px;
    height: 100px;
    margin-top: 10px;
    font-size: 100px;
}
/* Button hover effects */
a:hover {
    background-color: #45a049; /* Darker green color on hover, you can change this */
    border-color: #45a049;
}

/* Centering Menu Page */
.menucontent {
    text-align: center;
}

.mainheader {
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    background-color: #EFFEFF;
    display: block;
    padding: 0.1px 1px;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

h3 {
    margin: auto;
    margin-bottom: 10px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
    background-color: #EFFEFF;
    display: block;
    width: fit-content;
}

#UserWelcome {
    margin: auto;
    margin-bottom: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    background-color: #EF80DC;
    display: block;
    width: fit-content;
}

/* Login Styles */

#logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #e85d85;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout-button:hover {
    background-color: #FF4576;
}


#login-form {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: azure;
    width: 200px;
    margin-left: 42%;
}

#formbuttons {
   display: flex;
   justify-content: center; 
}

#login-form input.button {
    margin-right: 10px; /* Adjust this value as needed for spacing */
}

.button {
    display: flex;
    justify-content: right;
    margin: 10px;
    height: 20px;
}

/* Description box styles */

#descriptionbox {
    width: 60%;
    margin: auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    background-color: #F6F7CB;
}

#descriptionbox p {
    margin: 0;/* Remove default margin for better appearance */
}

#descriptionList {
    text-align: left;
    font-size: 18px;
}

#descriptionHeader {
    font-size: 25px;
}

#bumblePic {
    width: 225px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    border-width: 3px;
    border-color: red;
    border-style: solid;
    border-radius: 20px;
}

#listAndPic {
    display: flex;
}
